<article>
<div class="small-12 columns">
    <div class="icon-bar five-up" role="navigation"style="    position: fixed;
    z-index: 99;" >
      <a class="item">
        <img src="../assets/img/images/fi-home.svg" >
        <label>Home</label>
      </a>
      <a class="item">
        <img src="../assets/img/images/fi-bookmark.svg" >
        <label>Bookmark</label>
      </a>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 150px;">

<% if @message %>
  <%= @message %>
<% end %>
</div>
<% # raise @members.inspect %>

  <div class="row">
    <div class=" columns" style="width:25%">
      Asunto
    </div>
    <div class=" columns" style="width:12%">
      Tipo
    </div>
    <div class=" columns" style="width:12%">
      Estado
    </div>
    <div class=" columns" style="width:12%">
      Prioridad
    </div>
    <div class=" columns" style="width:15%">
      Asignado a
    </div>
    <div class=" columns" style="width:12%">
      Fechas
    </div>
    <div class=" columns" style="width:5%">
    Acción
    </div>
  </div>


  <% @issues.each do |issue|  %>
    <div class="row" data-issue-id="<%= issue['id'] %>" style="margin-top: 20px;">
      <form action="/issues/<%= issue['id'] %>" method="POST">
        <input type="hidden" name="_method" value="put">
        <div class=" columns" style="width:25%">
          <input type="hidden" name="project_id" value="<%=issue['project']['id'] %>">
          <a target="_blank" href="<%= @path %>issues/<%= issue['id'] %>">
            <%= issue['id'] %>
          </a>
          <span  data-tooltip aria-haspopup="true" class="has-tip" title="<%= issue['description'] %>" >
            <input type="hidden" name="subjetc" class="disabled" value="<%= issue['subject'] %>">
            <%= issue['subject'] %>
          </span>
        </div>
        <div class=" columns" style="width:12%">
          <span data-tracker-id="<%= issue['tracker']['id'] %>">
            <%= select('tracker_id', @trackers, issue['tracker']['id'] ) %>
          </span>
        </div>
        <div class=" columns" style="width:12%">
          <span data-status-id="<%= issue['status']['id'] %>">
            <%= select('status_id', @status, issue['status']['id']) %>
          </span>
        </div>
        <div class=" columns" style="width:12%">
          <span data-priority-id="<%= issue['priority']['id'] %>">
            <%= select('priority_id' , @priorities, issue['priority']['id']) %>
          </span>
        </div>
        <div class=" columns" style="width:15%">
          <span data-assigned_to_id="<%= issue['assigned_to']['id'] if issue['assigned_to']  %>">
            <% assigned_to_id = !(issue['assigned_to'] == nil) ? issue['assigned_to']['id'] : '' %>
            <%= select('assigned_to_id', @members, assigned_to_id ) %>
          </span>
        </div>
        <div class=" columns" style="width:12%">
          Start: <input type="date" class="issue_start_date" name="start_date" value="<%= issue['start_date'] %>">
          End:   <input type="date" class="issue_due_date" name="due_date" value="<%= issue['due_date'] %>">
        </div>
        <div class=" columns" style="width:5%">
          <i class="saveissue step fi-pencil size-20" data-id="<%= issue['id'] %>"></i>
          <i class="saveissue step fi-plus size-20" data-id="<%= issue['id'] %>"></i>
        </div>
        <input type="submit" name="actualizar" value="Actualizar">


      </form>
    </div>
  <% end %>

  <div class="notes" style="width:30%">
    <fieldset>
      <legend>Notes:</legend>
      <textarea id="textarea_notes" cols="60" row="10" name="notes" value="" class="textarea_notes"></textarea>
      <input type="checkbox" name="private_notes" value=""><label>Private notes</label>
    </fieldset>
  </div>


</article>
