


<article>

<%= erb :_new_issue , :locals =>{
  :trackers => @trackers,
  :status => @status,
  :priorities =>  @priorities,
  :members => @members,
  :project_id => @project_id,

  } %>


  <% if @message %>
    <div class="row">
      <div class="col s6 offset-s4" style="margin-top: 150px;">
        <%= @message %>
      </div>
    </div>
  <% end %>

  <% @issues.each do |issue|  %>
    <div class="row issue_card" data-issue-id="<%= issue['id'] %>" style="margin-top: 20px;">
      <form class="" action="/issues/<%= issue['id'] %>" method="POST">


        <div class="section">
          <div class="col s12 input-field section">
            <input type="hidden" name="project_id" value="<%=issue['project']['id'] %>">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="issue_id" value="<%= issue['id'] %>">
            <a target="_blank" href="<%= @path %>issues/<%= issue['id'] %>">
              <%= issue['id'] %>
            </a>
              <input type="hidden" name="subjetc" class="disabled" value="<%= issue['subject'] %>">
              <%= issue['subject'] %>
            </a>
            <div class="divider"></div>
          </div>

      </div>


      <div class="section">
        <div class="col s2 input-field">
          <%= select('tracker_id', @trackers, issue['tracker']['id'] ) %>
          <label>Tipo:</label>
        </div>
        <div class="col s2 input-field">
          <span data-status-id="<%= issue['status']['id'] %>">
            <%= select('status_id', @status, issue['status']['id']) %>
            <label>Estado:</label>
          </span>
        </div>
        <div class="col s2 input-field">
          <span data-priority-id="<%= issue['priority']['id'] %>">
            <%= select('priority_id' , @priorities, issue['priority']['id']) %>
            <label>Prioridad</label>
          </span>
        </div>
        <div class="col s2 input-field">
          <span data-assigned_to_id="<%= issue['assigned_to']['id'] if issue['assigned_to']  %>">
            <% assigned_to_id = !(issue['assigned_to'] == nil) ? issue['assigned_to']['id'] : '' %>
            <%= select('assigned_to_id', @members, assigned_to_id ) %>
            <label>Asignado a:</label>
          </span>
        </div>
        <div class="col s2 input-field">
          <input type="date" class="issue_due_date" name="due_date" value="<%= issue['due_date'] %>">
          <label>Fecha límite:</label>
        </div>
        <div class="col s2">
          <a title="Add a note to the ticket" data-id="<%= issue['id'] %>" class="comentario-link" href="#"> Comentarios</a>
        </div>
        <button type="submit" name="actualizar" value="Actualizar">Actualizar</button>
      </div>
      <%= erb :_notes, :locals =>{:issue_id => issue['id'],} %>
      </form>
    </div>
  <% end %>



</article>
